{% for case in cases %}
func test_{{ case["func_name"] }}(solution_script):
	var got = solution_script.leap({{ case["input"]["year"] }})
	var want = {{ case["expected"] }}
	return [got, want]

{% endfor %}

