{% for case in cases %}
func test_{{ case.func_name }}(solution_script):
	var want = {{ case.expected | togdscript }}
	var got = solution_script.{{ case.property | camel_to_snake }}(
		{{ case.input.playerA | togdscript }},
		{{ case.input.playerB | togdscript }}
	)
	return [got, want]

{% endfor %}
