{% for case in cases %}
{%- if "unicode" not in case.scenarios %}
func test_{{ case.func_name }}(solution_script):
	var want = "{{ case.expected }}"
	var got = solution_script.{{ case.property }}("{{ case.given }}")
	return [got, want]

{% endif %}
{%- endfor %}
