{% for case in cases %}
func test_{{ case["func_name"] }}(solution_script):
	var x = {{ case["input"]["x"] }}
	var y = {{ case["input"]["y"] }}
	var expected = {{ case["expected"] }}
	return [solution_script.score(x, y), expected]

{% endfor %}
