{% for case in cases %}
func test_{{ case["func_name"] }}(solution_script):
	var got = solution_script.egg_count({{ case["input"]["number"] }})
	var want = {{ case["expected"] }}
	return [got, want]

{% endfor %}

