{% for case in cases %}
func test_{{ case["func_name"] }}(solution_script):
	var want = "{{ case["expected"] }}"
	var got = solution_script.{{ case["property"] }}("{{ case["input"]["heyBob"] }}")
	return [got, want]

{% endfor %}
